// Fonts
$primaryFont: 'Brandon Grotesque', sans-serif;
$secondaryFont: 'Brandon Grotesque', sans-serif;
$baseFontSize: 16px;
$baseFontColor: #373760;

// Colours
$primary: #59108A;
$secondary: #4DC40B;
$tertiary: #59108A;
$quaternary: #4DC40B;
$green: #64c82d;
$lightgrey: #e4eaf1;
$text: $baseFontColor;
$textLight: #545b73;
$border: darken($lightgrey, 3%);
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;
