// Fonts
$primaryFont: 'Brandon Grotesque', sans-serif;
$secondaryFont: 'Brandon Grotesque', sans-serif;
$baseFontSize: 16px;
$baseFontColor: #000;

// Colours
$primary: #ffd100;
$secondary: #000;
$tertiary: #ffd100;
$quaternary: #000;
$green: #64c82d;
$lightgrey: #a7aab0;
$text: $baseFontColor;
$textLight: #545b73;
$border: darken($lightgrey, 3%);
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;
